@model IEnumerable<WebApplication1.Models.Data.Order>
@using System.Globalization
@{
    ViewBag.Title = "Order";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h4 class="mt-2">Danh sách đơn hàng</h4>
    <div class="row">
        <table id="mytable">
            <thead class="bg-primary text-white">
                <tr>
                    <th>Mã đơn hàng</th>
                    <th>Tên khách hàng</th>
                    <th>Tiền giảm</th>
                    <th>Tổng tiền</th>
                    <th>Ngày đặt</th>
                    <th>Ngày giao</th>
                    <th>Trạng thái</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.orderID</td>
                        <td>@item.User.userName</td>
                        <td>
                            @string.Format(new CultureInfo("vi-VN"), "{0:c}", item.reduceMoney)
                        </td>
                        <td>
                            @string.Format(new CultureInfo("vi-VN"), "{0:c}", item.totalMoney)
                        </td>
                        <td>@item.dateCreate</td>
                        <td>@item.dateArrive</td>
                        @if (item.status == false)
                        {
                            <td style="color:red">Chưa xử lý</td>
                        }
                        else
                        {
                            <td style="color:green"> Đã xử lý </td>
                        }
                        <td>
                            @if (item.status == false)
                            {
                                <a class="btn btn-danger" href="@Url.Action("changeOrderStatus", "Order",new {id = item.orderID })">
                                    <i class="fas fa-toggle-off"></i>
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-success " href="@Url.Action("changeOrderStatus", "Order",new {id = item.orderID })">
                                    <i class="fas fa-toggle-on"></i>
                                </a>
                            }

                            <a class="btn btn-info text-white" href="@Url.Action("orderDetail", "Order",new {id = item.orderID })">
                                <i class="fas fa-info-circle"></i>
                            </a>
                            <a class="btn btn-danger" onclick="return confirmAction()" href="@Url.Action("deleteOrder", "Order",new {id = item.orderID })">
                                <i class="fas fa-times"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        $('#mytable').DataTable();
    });
</script>