@using WebApplication1.Models.Data
@using System.Globalization
@model IEnumerable<Blog>
@{ ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@helper Truncate(string input, int length)
{
    if (input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)
    }
}

<div class="container mb-3">
    <div class="row mb-2 ">
        <h2>Bài viết</h2>
        <div class="col-md-8 col-sm-12 ">
            <div class="blog">
                @foreach (var item in Model)
                {
                    <div class="card mb-3" style="width: 880px;">
                        <a href="@Url.Action("BlogDetail","Blog",new {id = item.IDBlog })" style="text-decoration: none;">
                            <div class="row g-0" style="color:black">

                                <div class="col-md-4">
                                    <img src="@Url.Content(item.image)" class="img-fluid rounded-start" alt="@Url.Content(item.image)">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Title</h5>
                                        <p class="card-text">
                                            @if (item.Content.Length > 200)
                                            {
                                                @Html.Raw(item.Content.Substring(0, 200) + "...");
                                            }
                                            else
                                            { @Html.Raw(item.Content);
                                        }
                                        </p>
                                        <p class="card-text">
                                            <small class="text-muted">@item.DateCreate</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }

            </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="card" style="width: 15rem;">
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action active" aria-current="true"><center>Thể loại</center></button>
                    @foreach (var item in (List<Topic>)ViewBag.Topics)
                    {
                        <a class="btn list-group-item list-group-item-action" href="@Url.Action("filterByTopic","Blog",new {id=item.IDTopic})">@item.NameTopic</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

