<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> THT Laptop Store </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="~/Public/css/style.css" rel="stylesheet" />
    <link href="~/Public/css/productDetail.css" rel="stylesheet" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="~/images/logo/logotht1.png" style="height:70px; width:290px;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav" style="margin-left:auto;margin-right:auto">
                    <li class="nav-item">
                        <marquee><b>| CUNG CẤP SẢN PHẨM CHẤT LƯỢNG |</b></marquee>
                    </li>
                    <li class="nav-item">
                        <i class="fa fa-search fa-2x" style="margin-left:170px" aria-hidden="true"></i>
                    </li>
                    <li class="nav-item dropdown">
                        <i class="fa fa-user fa-2x" style="margin-left:20px" aria-hidden="true"></i>
                        <div class="dropdown-content" aria-labelledby="dropdownMenuButton1">
                            <a class="dropdown-item" href="@Url.Action("Index","Login")">Đăng nhập</a>
                            <a class="dropdown-item" href="#">Đăng ký</a>
                            <a class="dropdown-item" href="#">Thông tin tài khoản</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <i class="fa fa-shopping-cart fa-2x" style="margin-left:20px" aria-hidden="true"></i><b>(0)</b>
                    </li>
                </ul>

            </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #363636">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav" style="margin: 5px auto 0px auto ">
                        <li class="nav-item">
                            <a class="nav-link active" style="color:white" href="@Url.Action("Index","Home")"><b>TRANG CHỦ</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #F8F8FF; margin-left: 20px" href="@Url.Action("Index","Product")"><b>SẢN PHẨM</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #F8F8FF; margin-left: 20px" href="#"><b>LINH KIỆN</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #F8F8FF; margin-left: 20px" href="#"><b>PHỤ KIỆN</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #F8F8FF; margin-left: 20px" href="#"><b>KHUYẾN MÃI</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #F8F8FF; margin-left: 20px" href="#"><b>TIN TỨC</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #F8F8FF; margin-left: 20px" href="#"><b>LIÊN HỆ</b></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header><!--END HEADER-->

    <section id="main_content">
        @RenderBody()
    </section><!--end main_content-->

    <footer>
        <div class="container-fluid" style="background-color: #E8E8E8">
            <div class="row">
                <img  src="~/images/bia/bia5.PNG" style="width:100%; height:100%" />
                <div class="col-2">

                </div>
                <div class="col-3 pt-3">
                    <a class="nav-link active" style="color:black" href="#"><b>CỬA HÀNG</b></a>
                    <img src="~/images/logo/logotht.png" style="height:150px; width:350px;" />
                </div>
                <div class="col-3 pt-3">
                    <a class="nav-link active" style="color:black" href="#"><b>CHÍNH SÁCH</b></a>
                    <a class="nav-link active" style="color:dimgray" href="#">Về chúng tôi</a>
                    <a class="nav-link active" style="color:dimgray" href="#">Chính sách quy định chung</a>
                    <a class="nav-link active" style="color:dimgray" href="#">Điều kiện bảo hành</a>
                    <a class="nav-link active" style="color:dimgray" href="#">Chính sách bảo hành</a>
                </div>
                <div class="col-3 pt-3">
                    <a class="nav-link active" style="color:black" href="#"><b>HỖ TRỢ</b></a>
                    <a class="nav-link active" style="color:dimgray" href="#">Tổng đài tư vấn: 0989969919</a>
                    <a class="nav-link active" style="color:dimgray" href="#">Tư vấn mua hàng: 0123456789</a>
                    <a class="nav-link active" style="color:dimgray" href="#">Hỗ trợ kỹ thuật: 0163686839</a>
                    <a class="nav-link active" style="color:dimgray" href="#">Phản hồi, góp ý: 0386969056</a>
                </div>

            </div>
            <div class="pt-3">
                <center><b>&copy; @DateTime.Now.Year - by THT Store</b></center><br />
            </div>
        </div>
    </footer>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
