@using WebApplication1.Models.Data
@model IEnumerable<Product>
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-3 mt-5">
            <div class="list-group mb-3">
                <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                    Loại sản phẩm
                </button>
                @foreach (var item in (List<Category>)ViewBag.Categories)
                {
                    <a class="btn list-group-item list-group-item-action" href="@Url.Action("filterByCategory","Product",new {id = item.categoryID })">@item.categoryName</a>
                }
            </div>
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                    Thương hiệu
                </button>
                @foreach (var item in (List<Brand>)ViewBag.Brands)
                {
                    <a class="btn list-group-item list-group-item-action" href="@Url.Action("filterByBrand","Product",new {id = item.brandID })">@item.brandName</a>
                }
            </div>
        </div>
        <div class="col-9">
            <h3 class="text-center"><b>@ViewBag.productTitle</b></h3>
            <div class="row my-2">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle btn-light float-end" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="padding:10px">
                            Bộ lọc
                        </a>
                        <div class="dropdown-content" aria-labelledby="dropdownMenuButton1" style="margin-top:50px;">
                            <a class="dropdown-item" href="#"><i class="fa fa-angle-down mx-1" aria-hidden="true"></i>Giá giảm dần</a>
                            <a class="dropdown-item" href="#"><i class="fa fa-angle-up mx-1" aria-hidden="true"></i>Giá tăng dần</a>
                        </div>

                    </div>
                </div>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 col-12">
                            <div class="card">
                                <img src="~/images/sanpham/@item.image" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-title">@item.productName</p>
                                    <p class="card-text text-danger fw-bold">@item.productPrice</p>
                                    <a href="@Url.Action("index","ProductDetail",new {id = item.productID })" class="btn btn-primary">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

