@model WebApplication1.Models.Data.Product

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h4>Chi tiết sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand.brandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.brandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.categoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.categoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            <img src="@Url.Content(Model.image)" alt="@Url.Content(Model.image)" style="width: 200px; height:200px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

    </dl>
    <p>
        <a class="btn btn-secondary" href="@Url.Action("Index", "Product", new { id = Model.productID })">Quay lại</a>
        <a class="btn btn-primary" href="@Url.Action("Edit", "Product", new { id = Model.productID })">Cập nhật</a>
    </p>
</div>

