@model WebApplication1.Areas.Admin.Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    @using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <a class="btn btn-danger mt-2" href="@Url.Action("Index", "Product")"><i class="fa fa-arrow-circle-left mx-1"></i>Quay lại</a>
            <h4>Cập nhật thông tin sản phẩm</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.productID)
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.productName, htmlAttributes: new { @class = "control-label fw-bold" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.productName, new { htmlAttributes = new { @class = "form-control border-dark" } })
                                @Html.ValidationMessageFor(model => model.productName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.categoryID, "Loại sản phẩm", htmlAttributes: new { @class = "control-label fw-bold" })
                            <div class="col-md-12">
                                @Html.DropDownList("categoryID", null, htmlAttributes: new { @class = "form-control border-dark" })
                                @Html.ValidationMessageFor(model => model.categoryID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.brandID, "Thương hiệu", htmlAttributes: new { @class = "control-label fw-bold" })
                            <div class="col-md-12">
                                @Html.DropDownList("brandID", null, htmlAttributes: new { @class = "form-control border-dark" })
                                @Html.ValidationMessageFor(model => model.brandID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.productPrice, htmlAttributes: new { @class = "control-label fw-bold" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.productPrice, new { htmlAttributes = new { @class = "form-control border-dark" } })
                                @Html.ValidationMessageFor(model => model.productPrice, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.image, htmlAttributes: new { @class = "control-label fw-bold" })<br />
                            <img class="border border-2 border-dark" src="~/images/sanpham/@Model.image" alt="none.png" id="output" style="width:290px; height:290px;" /> <br />
                            <input class="mt-2" title="Thêm ảnh" type="file" name="ImageUpload" id="ImageUpload" onchange="loadFile(event)" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group mb-3">
                    @Html.LabelFor(model => model.productDetail, htmlAttributes: new { @class = "control-label fw-bold" })
                    <div class="col-md-12">
                        <textarea class="form-control border-dark" name="productDetail" id="productDetail" rows="7">@Model.productDetail</textarea>
                        @Html.ValidationMessageFor(model => model.productDetail, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group mb-3">
                <div class="col-md-offset-2 col-md-12">
                    <input type="submit" value="Cập nhật thông tin sản phẩm" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

