@using WebApplication1.Models.Data
@model Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    @using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <a class="btn btn-danger mt-2" href="@Url.Action("Index", "Product")"><i class="fa fa-arrow-circle-left mx-1"></i>Quay lại</a>
            <h4 class="mt-2">Cập nhật thông tin sản phẩm</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.productID)
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.productName, htmlAttributes: new { @class = "control-label fw-bold" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.productName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.Category.categoryName, "Loại sản phẩm", htmlAttributes: new { @class = "control-label fw-bold" })
                            <div class="col-md-12">
                                <select class="form-select" name="categoryID" id="categoryID">
                                    @foreach (var item in (List<Category>)ViewBag.Category)
                                    {
                                        if (item.categoryID == Model.categoryID)
                                        {
                                            <option value="@item.categoryID" selected>@item.categoryName</option>
                                        }
                                        else
                                        {
                                            <option value="@item.categoryID">@item.categoryName</option>
                                        }
                                        
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.Brand.brandName, "Thương hiệu", htmlAttributes: new { @class = "control-label fw-bold" })
                            <div class="col-md-12">
                                <select class="form-select" name="brandID" id="brandID">
                                    @foreach (var item in (List<Brand>)ViewBag.Brand)
                                    {
                                        if (item.brandID == Model.brandID)
                                        {
                                            <option value="@item.brandID" selected>@item.brandName</option>
                                        }
                                        else
                                        {
                                            <option value="@item.brandID">@item.brandName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.productPrice, htmlAttributes: new { @class = "control-label fw-bold" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.productPrice, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.amount, htmlAttributes: new { @class = "control-label fw-bold" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.image, htmlAttributes: new { @class = "control-label fw-bold" }) <br />
                        <img src="@Model.image" alt="@Model.image" style="width:290px; height:290px;" /> <br />
                        <button type="button" class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Cập nhật ảnh sản phẩm
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group mb-3">
                    @Html.LabelFor(model => model.productDetail, htmlAttributes: new { @class = "control-label fw-bold" })
                    <div class="col-md-12">
                        <textarea class="form-control" name="productDetail" id="productDetail" rows="7">@Model.productDetail</textarea>
                    </div>
                </div>
            </div>

            <div class="form-group mb-3">
                <div class="col-md-offset-2 col-md-12">
                    <input type="submit" value="Cập nhật thông tin" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @using (Html.BeginForm("uploadImage", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(e => e.productID)
                <div class="modal-body text-center">
                    <img src="@Model.image" alt="@Model.image" id="output" style="width:290px; height:290px;" /> <br />
                    <input title="Thêm ảnh" type="file" name="ImageUpload" id="ImageUpload" onchange="loadFile(event)" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                </div>
            }
        </div>
    </div>
</div>

