@model IEnumerable<WebApplication1.Models.Data.Product>
@using System.Globalization
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container mt-3" style="background-color: rgb(240,240,240);">
    <div class="row">
        <div class="col border-bottom border-2">
            <div class="mt-3 float-start">
                <h4>QUẢN LÝ SẢN PHẨM</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="input-group my-2 float-start">
                <input type="text" class="form-control">
                <button class="btn btn-outline-secondary fw-bold" type="button" id="button-addon2">Tìm kiếm</button>
            </div>
        </div>
        <div class="col">
            <a class="btn btn-success float-end my-2" href="@Url.Action("Create","Product")"><i class="fa fa-plus-circle" aria-hidden="true"></i><b>Thêm mới sản phẩm</b></a>
        </div>
    </div>
    <table class="table table-hover table-bordered bg-white" style="font-size:small;">
        <thead class="bg-primary text-white" style="text-align:center;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.productName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.productPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.productDetail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category.categoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brand.brandName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dateCreate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.amount)
                </th>
                <th>
                    Thao tác
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/images/sanpham/@item.image" alt="" width="80" height="80" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.productName)
                    </td>
                    <td style="white-space: nowrap;">
                        @*@Html.DisplayFor(modelItem => item.productPrice)*@
                        @string.Format(new CultureInfo("vi-VN"), "{0:c}", item.productPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.productDetail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.categoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand.brandName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dateCreate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.amount)
                    </td>
                    <td style="white-space: nowrap;">
                        <a class="btn btn-primary fa fa-pencil-square-o" href="@Url.Action("Edit", "Product", new {id = item.productID })"></a>
                        <a class="btn btn-info fa fa-info-circle text-white" href="@Url.Action("", "")"></a>
                        <a class="btn btn-danger fa fa-times-circle-o" onclick="return confirmAction()" href="@Url.Action("Delete", "Product", new {id = item.productID })"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
