<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/fonts/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/fonts/css/brands.min.css" rel="stylesheet" />
    <link href="~/fonts/css/solid.min.css" rel="stylesheet" />
    <link href="~/Public/css/Admin/LayoutAdmin.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
</head>
<body>
    <div class="sidebar">
        <ul class="nav-links">
            <li>
                <a>
                    <i class='bx bx-menu'></i>
                    <span class="link_name">THT Store</span>
                </a>

            </li>
            <li>
                <div class="iocn-link">
                    <a href="@Url.Action("Index", "Product")">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">Sản phẩm</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="@Url.Action("Index", "Product")">Sản phẩm</a></li>
                    <li><a href="@Url.Action("listCategories", "Category")">Loại sản phẩm</a></li>
                    <li><a href="@Url.Action("listBrands", "Brand")">Thương hiệu</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="@Url.Action("Employee", "Employee")">
                        <i class='bx bx-book-alt'></i>
                        <span class="link_name">Nhân viên</span>
                    </a>
                </div>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="@Url.Action("Employee", "Employee")">Nhân viên</a></li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("listDiscount", "Discount")">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="link_name">Khuyến mãi</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="@Url.Action("listDiscount", "Discount")">Khuyến mãi</a></li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Order", "Order")">
                    <i class='bx bx-line-chart'></i>
                    <span class="link_name">Đơn hàng</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="@Url.Action("Order", "Order")">Đơn hàng</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="@Url.Action("listContact", "Contact")">
                        <i class='bx bx-plug'></i>
                        <span class="link_name">Liên hệ</span>
                    </a>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="@Url.Action("listContact", "Contact")">Liên hệ</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="@Url.Action("BlogList", "Blog")">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">Bài viết</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="@Url.Action("BlogList", "Blog")">Bài viết</a></li>
                    <li><a href="@Url.Action("TopicList", "Topic")">Chủ đề bài viết</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="@Url.Action("Logout","Account")">
                        <i class='bx bx-log-out'></i>
                        <span class="link_name">Đăng xuất</span>
                    </a>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="@Url.Action("Logout","Account")">Đăng xuất</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <img src="@Url.Content(Session["image"].ToString())" alt="profileImg">
                    </div>
                    <div class="name-job">
                        <div class="profile_name" style="font-size:medium; margin-right:10px">@Session["fullname"]</div>
                    </div>

                </div>
            </li>
        </ul>
    </div>
    <section class="home-section">
        @RenderBody()
    </section>
    <footer>
        <center><b>&copy; @DateTime.Now.Year - by THT Store</b></center>
    </footer>
    @RenderSection("scripts", required: false)
    <script src="~/Public/js/Admin/Script.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Services/ckeditor/ckeditor.js"></script>
    <script src="~/Public/js/Admin/LayoutAdmin.js"></script>
</body>
</html>
